[color]
	ui = true
[user]
	name = Shreedhar Hardikar
	email = shardikar@vmware.com
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[push]
	default = current
[diff "beancount"]
  xfuncname = "^(; \\{\\{\\{.*)$"
