[color]
	ui = true
[user]
	name = Shreedhar Hardikar
	email = hardikar@cs.wisc.edu
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[push]
	default = current
[diff "beancount"]
  xfuncname = "^(; \\{\\{\\{.*)$"
[pull]
	rebase = true
